.customer-dashboard-body {
    background-color: #f8f9fa;
    margin-top: 110px;

  }
  
  .card {
    border-radius: 15px;
    transition: 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }


  
  .table th {
    font-weight: 600;
  }
  
  .badge {
    font-size: 0.75rem;
  }
  

  